html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

// atomic elements
%header {
  margin-bottom: 2rem;
  font-weight: bold;
}

%h1 {
  font-size: 2rem
}

%h2 {
  font-size: 1.6rem;
}

%h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %header;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3,
h4,
h5,
h6 {
  @extend %h3;
}
// end atomic elements