/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset CSS */

/* begin CSS variables */
:root {
  --primary-column-spacing: 2rem;
  --minor-element-spacing: 1rem;
  --major-element-spacing: 2rem;
}
/* end CSS variables */

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.4rem;
  padding: var(--primary-column-spacing);

  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }
}

* > :last-child {
  margin-bottom: 0;
}

/* atomic elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--primary-column-spacing);
  font-weight: bold;
}

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.6rem;
}

h3,
h4,
h5,
h6 {
  font-size: 1.5rem
}

p {
  margin-bottom: var(--minor-element-spacing);
}

ul {
  margin-bottom: var(--minor-element-spacing);

  li {
    margin-bottom: var(--minor-element-spacing);
  }
}
/* end atomic elements */

header {
  margin: 0 0 var(--primary-column-spacing);
  text-align: center;
  grid-area: header;

  ul {
    display: grid;
    gap: 0 var(--minor-element-spacing);

    @media only screen and (min-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    li {
      display: inline-block;
      background-color: black;
      margin-bottom: inherit;

      @media only screen and (max-width: 600px) {
        + li {
          margin-top: var(--minor-element-spacing);
        }
      }

      a {
        color: white;
        font-weight: bold;
        display: block;
        padding: var(--minor-element-spacing) var(--major-element-spacing);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

main {
  grid-area: main;

  p {
    + h2, + h3, + h4 {
      margin-top: var(--major-element-spacing);
    }
  }
}

aside {
  grid-area: aside;
  padding: var(--primary-column-spacing);
  background-color: lightgray;
  margin: var(--primary-column-spacing) 0 0;

  @media only screen and (min-width: 600px) {
    margin: 0 0 0 4rem;
  }
}

footer {
  grid-area: footer;
  margin: var(--primary-column-spacing) 0 0;
  padding: var(--primary-column-spacing);
  color: white;
  background-color: rebeccapurple;
}
